body {
    background-color: #f5ffe0;
}
.side-bar {
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #f2ffd7;
  
    @include mq(md) {
      flex-flow: column nowrap;
      position: fixed;
      width: $nav-width-md;
      height: 100%;
      border-right: $border $border-color;
      align-items: flex-end;
    }
  
    @include mq(lg) {
      width: calc((100% - #{$nav-width + $content-width}) / 20 + #{$nav-width});
      min-width: $nav-width;
    }
}
.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    background-image: (-90deg, #e6f5e6 0%, rgba(208, 238, 204, 0.8) 80%, rgba(192, 248, 166, 0) 100%)
}
p {
    color: #bad18c;
}
strong {
    color: #a0b27d;
}
em {
    color: #7e8c62;
}
