body {
    background-color: #f5ffe0;
}
.side-bar {
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #f2ffd7;
  
    @include mq(md) {
      flex-flow: column nowrap;
      position: fixed;
      width: $nav-width-md;
      height: 100%;
      border-right: $border $border-color;
      align-items: flex-end;
    }
  
    @include mq(lg) {
      width: calc((100% - #{$nav-width + $content-width}) / 20 + #{$nav-width});
      min-width: $nav-width;
    }
}
.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    background-image: linear-gradient(-90deg, #f0ffd2 0%, #eafacbcc 80%, #e3fab600 100%);
}
.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
    color: #a7b689;
}
.nav-list .nav-list-item .nav-list-expander {
    color: #a1b181;
}
.search-results, .search-results-list {
    background-color: #f5ffe0;
}
.search-result-doc .search-result-icon {
    color: #76815e;
}
.search-label .search-icon {
    color: #727e59;
}
.search-active .search-input, .search-input, .search {
    background-color: #f5ffe0;
}
.site-title {
    color: #727f59;
}
h1, h2, h3, h4, h5, h6, #toctitle {
    color: #727e59;
}
p, li {
    color: #bad18c;
}
a, strong, li::marker, .search-result-preview, .search-result-rel-url {
    color: #a0b27d;
}
em {
    color: #7e8c62;
}
blockquote {
    border-left: 2px dotted #a0b27d;
}
