body {
    background-color: #fff;
    color: #000;
}
.site-header, .main-header {
    border-bottom: 1px solid #ccc;
}
hr {
    background-color: #ccc
}
.site-header:hover a {
    background-image: linear-gradient(#ccc 0%, #ddd 80%, #dedede00 100%);
}
.side-bar {
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #bbb;
  
    @include mq(md) {
      flex-flow: column nowrap;
      position: fixed;
      width: $nav-width-md;
      height: 100%;
      border-right: 1px solid #ccc;
      align-items: flex-end;
    }
  
    @include mq(lg) {
      width: calc((100% - #{$nav-width + $content-width}) / 20 + #{$nav-width});
      min-width: $nav-width;
    }
}
.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    background-image: linear-gradient(-90deg, #ccc 0%, #ddddddcc 80%, #dedede00 100%);
}
.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
    color: #c0c5c3;
}
.nav-list .nav-list-item .nav-list-expander {
    color: #c0c5c3;
}
.nav-list .nav-list-item .nav-list-expander:hover {
    background-image: linear-gradient(-90deg, #ddd 0%, #dededecc 100%);
}
.search-results, .search-results-list {
    background-color: #eee;
}
.search-result:hover {
    background-color: #ddd;
}
.search-result-doc .search-result-icon {
    color: #000;
}
.search-label .search-icon {
    color: #000;
}
.search-input:focus + .search-label .search-icon{
    color: #000;
}
.search-active .search-input, .search-input, .search {
    background-color: #999;
}
.site-title, .icon {
    color: #000;
}
.site-button:hover {
    background-image: linear-gradient(-90deg, #ddd 0%, #dededecc 100%);
}
h1, h2, h3, h4, h5, h6, #toctitle {
    color: #000;
}
p, li {
    color: #000;
}
a, strong, .search-result-preview, .search-result-rel-url, .search-input {
    color: #000;
}
a:not([class]) { text-decoration-color: #000; }
a:not([class]):hover { text-decoration-color: #000; }
em, .main-content .anchor-heading svg, .site-footer {
    color: #333;
}
blockquote {
    border-left: 2px dotted #aaa;
}
