:root {
    --base-background-color: #fff;
    --base-text-color: #000;
    --big-header-text-color: #000;
    --header-text-color: #000;
    --link-text-color: #000;
    --link-text-color-noclass: #31f;
    --link-text-color-noclass-hover: #30d;
    --navlink-text-color: #000;
    --navlink-expander-color: #000;
    --italics-and-footer-text-color: #000;
    --border-color: #ccc;
    --sidebar-background-color: #ddd;
    --gradient: linear-gradient(-90deg, #eee 0%, #fff 100%);
    --gradient-with-transparency: linear-gradient(#eee 0%, #fff 80%, #fff0 100%);
    --searchbox-background-color: #fff;
    --search-result-background-color-hover: #ccc;
    --search-icon-color: #000;
    --search-result-icon-color: #000;
    --search-result-icon-color-focus: #555;
}

body {
    background-color: var(--base-background-color);
    color: var(--base-text-color);
}
.site-header, .main-header {
    border-bottom: 1px solid var(--border-color);
}
hr {
    background-color: var(--border-color)
}
.site-header:hover a {
    background-image: var(--gradient-with-transparency);
}
.side-bar {
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--sidebar-background-color);
  
    @include mq(md) {
      flex-flow: column nowrap;
      position: fixed;
      width: $nav-width-md;
      height: 100%;
      border-right: 1px solid var(--border-color);
      align-items: flex-end;
    }
  
    @include mq(lg) {
      width: calc((100% - #{$nav-width + $content-width}) / 20 + #{$nav-width});
      min-width: $nav-width;
    }
}
.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    background-image: var(--gradient-with-transparency);
}
.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
    color: var(--navlink-text-color);
}
.nav-list .nav-list-item .nav-list-expander {
    color: var(--navlink-expander-color);
}
.nav-list .nav-list-item .nav-list-expander:hover {
    background-image: var(--gradient);
}
.search-results, .search-results-list {
    background-color: var(--searchbox-background-color);
}
.search-result:hover {
    background-color: var(--search-result-background-color-hover);
}
.search-result-doc .search-result-icon {
    color: var(--search-result-icon-color);
}
.search-label .search-icon {
    color: var(--search-icon-color);
}
.search-input:focus + .search-label .search-icon{
    color: var(--search-result-icon-color-focus);
}
.search-active .search-input, .search-input, .search {
    background-color: var(--searchbox-background-color);
}
.site-title, .icon {
    color: var(--big-header-text-color);
}
.site-button:hover {
    background-image: var(--gradient);
}
h1, h2, h3, h4, h5, h6, #toctitle {
    color: var(--header-text-color);
}
p, li {
    color: var(--base-text-color);
}
a, strong, .search-result-preview, .search-result-rel-url, .search-input {
    color: var(--link-text-color);
}
a:not([class]) { text-decoration-color: var(--link-text-color-noclass); }
a:not([class]):hover { text-decoration-color: var(--link-text-color-noclass-hover); }
em, .main-content .anchor-heading svg, .site-footer {
    color: var(--italics-and-footer-text-color);
}
blockquote {
    border-left: 2px dotted var(--link-text-color);
}
